{% extends 'base.html' %}
{% block titleblock %}
Student Home
{% endblock titleblock %}

{% block bodyblock %}

<h2>Sent Messages:</h2>
{% for message in sent_messages %}
<div style="border: 1px solid lightgray; width: 300px;">
    <p style="font-weight: bold; text-decoration: underline;">To: {{ message.user_reciever }}</p>
    <p>Date: {{ message.date_messaged }}</p>
    <p>Message: {{ message.message }}</p>
     {% if message.attachments %}
    <p>Attachments: <a href="{{ message.attachments.url }}">{{ message.attachments.name }}</a></p>
  {% endif %}
</div>
{%empty%}
<h3>No Messages Sent!</h3>
{% endfor %}

<h2>Received Messages:</h2>
{% for message in recieved_messages %}
<div style="border: 1px solid lightgray; width: 300px;">
    <p style="font-weight: bold; text-decoration: underline;">From: {{ message.user_sender }}</p>
    <p>Date: {{ message.date_messaged }}</p>
    <p>Message: {{ message.message }}</p>
    {% if message.attachments %}
    <p>Attachments: <a href="{{ message.attachments.url }}">{{ message.attachments.name }}</a></p>
    {% endif %}
</div>
{%empty%}
<h3>No Messages Recieved!</h3>
{% endfor %}




{% endblock bodyblock %}
