{% extends 'base.html' %}
{% block titleblock %}
Login
{% endblock titleblock %}

{% block bodyblock %}
<style>
    .login {
        background-color: darkcyan;
        color: white;
        margin-top: 15px;
        width: 80px;
        height: 40px;
        transition: opacity 0.4s;
        border-radius: 40px;
        font-size: large;
    }

    .login:hover {
        opacity: 0.3;
    }

    .loginform {
        background-color: lightgray;
    }

    .signup-link {
        color: dodgerblue;
        font-size: 25px;
    }
</style>
</head>

<body>
    <div class="loginform">
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button class="login">Login</button>
        </form>

    </div>
</body>

<a href="{%url 'loginapp:SignUp'%}" class="signup-link">Don`t Have a Freaking Account?</a>
{% endblock bodyblock %}