{%extends 'base.html'%}
{% block titleblock %}
Sign Up
{% endblock titleblock %}

{% block bodyblock %}
<style>
    .signup-button {
        background-color: darkcyan;
        color: white;
        margin-top: 15px;
        width: 80px;
        height: 40px;
        transition: opacity 0.4s;
        border-radius: 40px;
        font-size: large;
    }

    .signup-button:hover {
        opacity: 0.5;
    }

    .signupform {
        margin-bottom: 20px;
        border: 1px solid lightgr ay;
        font-size: 15px;
        background-color: lightgray;
    }

    .login-link {
        color: dodgerblue;
        font-size: 25px;
    }
</style>
<div class="signupform">
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button class="signup-button">Sign Up</button>
    </form>

</div>

<a href="{%url 'loginapp:Login'%}" class="login-link">Have a Freaking Account?</a>
{% endblock bodyblock %}